
body{
    width: 100%;
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

/* gameStart  page*/

.container{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
     
}
.nav-start{
    box-shadow: inset 1px 2px 10px rgb(210, 209, 209);
    width: 90%;
    margin: auto;
    height: 20vh;
    /* background-color: rgb(90, 90, 157); */
    display: flex;
    justify-content: space-between;
    text-align: center;
     padding: 10px 50px;
   
}
.select{ 
    width: 30%;
    /* background-color: rgb(53, 30, 185); */
}

.selectNo{
    display: flex;
 margin-top: -10px;
}

.box{
    border-radius: 3px;
    min-width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.selectText h5{
    margin-top: 10px;
    margin-left: 63%;
     font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}
.score{
    /* background-color: rgb(15, 152, 56); */
}
.score p{
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}
.score h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    line-height: 1px;
}

.game{
    width: 20%;
    height: 40vh;
     /* background-color: aqua;  */
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
}
.img{
    width: auto;
    height: 110px;
    /* background-color: rgb(174, 39, 5); */
}

.img img{
    border-radius: 10px;
      width: 110px;
}
.text h2{
    font-family:  monospace;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 13px;
    padding-top: 10px;
}

.resetbtn button{
    background-color: #fff;
    padding: 5px 35px;
   margin-top: 50px;
   outline: none;
   border-radius: 3px;
   border: 1px solid transparent;
   box-shadow:inset 1px 0.3px 5px rgb(177, 178, 233);
}


.b{
    background-color: #000;
    color: #fff;
}
#chooseAno{
    height: 20px;
    color: red;
    background-color: #fff;
}

.home button{
    margin: 10px;
    border: none;
    padding: 2px 10px;
    background-color: rgb(222, 222, 252);
}

.home a{
    color:black;
    text-decoration: none;
}

@media screen and (max-width:567px) {
    
    .container{
         /* background-color: red;  */
        width: 100%;
        height: 92vh;
        overflow: hidden;
        position: relative;
         
    }
.nav-start{

    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    box-shadow: inset 1px 2px 10px rgb(255, 255, 255);
    width: 90%;
    padding: 10px ;
    /* margin: auto; */
    height: 40vh;
    /* background-color: rgb(90, 90, 157); */
    /* text-align: center; */

}
.select{
    text-align: center;
    /* background-color: bisque; */
    width: auto;
}
.selectNo{
    display: flex;
 margin-top: -10px;
 /* background-color: chartreuse; */
}
.selectText h5{
    /* background-color: blueviolet; */
    margin-left: 0;
}
.score{
    /* background-color: beige; */
    width: 200px;
    margin: auto;
    box-shadow: inset 2px 2px 10px rgb(167, 166, 166);
    border-radius: 5px;
}
.box{
    min-width: 50px;
    height: 50px;
}
.game{
    width: 200px;
    height: 40vh;
      /* background-color: aqua;   */
    margin-top: 10px;
   
}
}